* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Caveat', cursive;
  background: url(bg.jpg) center center no-repeat #000;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  position: absolute;
  top: 5em;
  right: 5em;
  width: 250px;
  padding: 10px;
  border: 2px solid #000;
  background: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons a {
  padding: 0.5em 0;
  background: #fff;
  display: block;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  width: 20em;
}

.buttons a:hover {
  background: #000;
  color: #fff;
}

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?selg');
  src:  url('icomoon.eot?selg#iefix') format('embedded-opentype'),
    url('icomoon.ttf?selg') format('truetype'),
    url('icomoon.woff?selg') format('woff'),
    url('icomoon.svg?selg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
